$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower

//fonts
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic);

@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);

//end fonts

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
// Fonts & shit //

html, body, h1, h2, h3, h4, h5, h6, p, span, em {
  font-family: 'Ubuntu', sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

// Custom Styles for create-ranter.html //

@media (min-width: 692px) {
  html {
    background: url(../images/traffic.png) no-repeat;
    background-size: cover;
  }
  
  body {
    background-color: transparent
  }
}

#app-welcome {
  background-color: rgba(0,0,0,.8);
  color: white;
  height: 200px;
  margin-top: -20px;
  .col-sm-8 {
    height: 100%;
    .container-fluid {
      padding: 2%;
      text-shadow: 0px 0px 3px black;
      h2.headline {
        font-size: 42px;
        span {
          margin-left: 1%;
          text-shadow: 0px 0px 2px black;
          color: red;
        }
      }
      h2.sub-headline {
        color: black;
        text-shadow: 0px 0px 6px white;
        padding-left: 5%;
      }
    }
  }
  .hidden-xs.col-sm-2 {
    svg#upper-diagram {
      margin: 8.5% 0% 0% -9.65%;
      position: absolute;
      z-index: 9;
    }
    h1.text-center {
      color: red;
      font-family: 'Shadows Into Light', cursive;
      font-size: 500%;
      position: absolute;
      z-index: 8;
    }
    hr#upper-logo {
      width: 160%;
      margin: 45% 0% 0% 2%;
    }
    p {
      font-size: 14px;
      margin: 1.5% -30% 0% 0%;
    }
    svg#lower-diagram {
      margin-left: 40%;
      position: absolute;
      z-index: 8;
    }
    hr#lower-logo {
      width: 103.5%;
      margin: 13.3% 0% 0% 58.5%;
    }
  }
}








