<div class="container-fluid">
  <!--Mobile Differentiation/Header-->
  <div class="row animated fadeIn hidden-sm hidden-md hidden-lg hidden-xl">
    <div class="col-xs-12" id='phone-view'>
      <h1 class="text-center">TiRaDEz
      </h1>
      <hr id="icon-divider" />
    </div>
  </div>
  <div class="row animated fadeIn"id='app-welcome'>
    <div class="col-sm-8">
      <div class="container-fluid">
        <h2 class='headline'>Got Something on Your Mind 
          <span>?
          </span>
        </h2>
        <h2 class='sub-headline animated flipInX'>We won't tell if you don't</h2>
      </div>
    </div>
    <div class="hidden-xs col-sm-2">
      <svg id='upper-diagram' height='80' width='30'>
        <line x1='0' y1='0' x2='30' y2='80' style='stroke: white; stroke-width: 1.5' />
      </svg>
      <h1 class="text-center">TiRaDEZ
      </h1>
      <hr id='upper-logo' />
      <p class='pull-right'>Just let it out...
      </p>
      <svg id='lower-diagram' height='30' width='30'>
        <line x1='15' y1='0' x2='30' y2='30' style='stroke: white; stroke-width: 1.5' />
      </svg>
      <hr id='lower-logo' />
    </div>
  </div>
  <div class="row animated fadeInLeft">
    <div class="col-xs-12 col-sm-4 col-sm-offset-2">
      <form data-ng-submit='collect(ranter)' name="ranter-submission">
        <h2>Display Name
        </h2>
        <input type="text" name="displayName" data-ng-model='ranter.displayName' data-ng-minlength='5' required>
        <br />
        <h2>Predicate
        </h2>
        <input type="text" name="predicate" data-ng-model='ranter.predicate' data-ng-minlength='15' data-ng-maxlength='40' required />
        <input type='submit' id='ranter-submit' value='Rant!' />
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-6">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-8">
            <ul class="list-unstyled list-inline">
              <li data-ng-model='cursor'>8
              </li>
              <li>8
              </li>
              <li>8
              </li>
            </ul>
          </div>
          <div class="col-sm-4">
            <ul class="list-unstyled">
              <li>
                <img src="#" />
                <h3>RantZ
                </h3>
              </li>
              <li>
                <img src="#" />
                <h3>TiradeZ
                </h3>
              </li>
              <li>
                <img src="#" />
                <h3>WTF
                </h3>
              </li>
            </ul>
          </div>
        </div><!--close row-->
      </div><!--close container-->
    </div><!--close column-->
  </div><!--close row-->
</div><!--close view-->




